<!--The content below is only a placeholder and can be replaced.-->
<div class="background">
  <img alt="snowflakes" src="/assets/donut1.svg" class="snowExample" style="width: 70px; -webkit-animation-delay: 0s;animation-delay: 0s;-webkit-animation-duration: 8s;animation-duration: 8s; left:50%; margin-left: -45%;" />
  <img alt="snowflakes" src="/assets/cookie.svg" class="snowExample" style="width: 50px; -webkit-animation-delay: 3s;animation-delay: 3s; -webkit-animation-duration: 8s;animation-duration: 8s; left:50%; margin-left: -45%;" />
  <img alt="snowflakes" src="/assets/donut2.svg" class="snowExample" style="width: 70px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 8s;animation-duration: 8s; left:50%; margin-left: -30%;" />
  <img alt="snowflakes" src="/assets/donut2.svg" class="snowExample" style="width: 90px; -webkit-animation-delay: 1s;animation-delay: 1s;-webkit-animation-duration: 8s;animation-duration: 8s; left:50%; margin-left: -15%;" />
  <img alt="snowflakes" src="/assets/donut1.svg" class="snowExample" style="width: 50px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 5s;animation-duration: 5s; left:50%; margin-left: 0%;" />
  <img alt="snowflakes" src="/assets/cookie.svg" class="snowExample" style="width: 70px; -webkit-animation-delay: 0s;animation-delay: 0s; -webkit-animation-duration: 5s;animation-duration: 5s; left:50%; margin-left: 25%;" />
  <img alt="snowflakes" src="/assets/cookie.svg" class="snowExample" style="width: 90px; -webkit-animation-delay: 0s;animation-delay: 3s; -webkit-animation-duration: 5s;animation-duration: 5s; left:50%; margin-left: 40%;" />
</div>
<div class="background" [hidden]="true">
  <img alt="snowflakes" src="/assets/easter/egg1.svg" class="snowExample" style="width: 70px; -webkit-animation-delay: 0s;animation-delay: 0s;-webkit-animation-duration: 8s;animation-duration: 8s; left:50%; margin-left: -45%;" />
  <img alt="snowflakes" src="/assets/easter/egg2.svg" class="snowExample" style="width: 50px; -webkit-animation-delay: 3s;animation-delay: 3s; -webkit-animation-duration: 8s;animation-duration: 8s; left:50%; margin-left: -45%;" />
  <img alt="snowflakes" src="/assets/easter/egg4.svg" class="snowExample" style="width: 70px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 8s;animation-duration: 8s; left:50%; margin-left: -30%;" />
  <img alt="snowflakes" src="/assets/easter/egg4.svg" class="snowExample" style="width: 90px; -webkit-animation-delay: 1s;animation-delay: 1s;-webkit-animation-duration: 8s;animation-duration: 8s; left:50%; margin-left: -15%;" />
  <img alt="snowflakes" src="/assets/easter/egg5.svg" class="snowExample" style="width: 50px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 5s;animation-duration: 5s; left:50%; margin-left: 0%;" />
  <img alt="snowflakes" src="/assets/easter/egg2.svg" class="snowExample" style="width: 70px; -webkit-animation-delay: 0s;animation-delay: 0s; -webkit-animation-duration: 5s;animation-duration: 5s; left:50%; margin-left: 25%;" />
  <img alt="snowflakes" src="/assets/easter/egg5.svg" class="snowExample" style="width: 90px; -webkit-animation-delay: 0s;animation-delay: 3s; -webkit-animation-duration: 5s;animation-duration: 5s; left:50%; margin-left: 40%;" />
  <img src="/assets/easter/bunny.svg" style="width: 75px;position: absolute;bottom: -2px;left: 30px;" />
  <img src="/assets/easter/egg-bottom.svg" style="width: 60px;position: absolute;bottom: -2px;right: 30px;" />
</div>
<div class="main-content">
  <div class="company">
    <h1 [hidden]="true">
      Welcome to {{ title }}!
    </h1>
    <img class="top-logo" alt="Dolce Logo" src="/assets/logo-dolce-adesivo-cupcake.png">
    <h2>Dolce Confeitaria</h2>
  </div>
  <div class="links">
    <div class="link-item" *ngFor="let item of socialNetworks | orderBy: {property: 'order', direction: 1}" (click)="open(item)" >
      <div class="link-logo"><img src="/assets/{{item.icon}}"></div>
      <div class="link-text">{{item.name}}</div>
      <div class="link-space"></div>
    </div>
  </div>

  <ul [hidden]="true">
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
  </ul>
</div>

