.background {
  /*background-color: #19193c;*/
  background-image: radial-gradient(circle at 50% 100%, rgb(119 39 85), rgb(37 18 47));
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: fixed;
  inset: 0px;
  z-index: -1;
}
.main-content {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: initial;
  width: 100%;
  height: 100%;
  padding: 50px 50px;
  box-sizing: border-box;
}
.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.company .top-logo {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  display: block;
  object-fit: contain;
  object-position: initial;
  filter: none;
  border: 2px solid white;
  padding: 10px;
}
.links {
  padding-top: 20px;
  width: 100%;
  height: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.links .link-item {
  border: 1px solid rgba(252, 252, 252, 0.75);
  background-color: rgba(15, 22, 42, 0.4);
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
  border-radius: 12px;
  width: 55%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 350px;
}
.links .link-item:hover {
  box-shadow: 0px 0px 8px 1px white;
}
.links .link-item .link-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.links .link-item .link-logo img{
  border-radius: 8px;
  width: 32px;
  height: 32px;
  left: 8px;
  filter: invert(1);
}
.links .link-item .link-text {
  width: calc(100% - 100px);
  text-align: center;
  font-size: 18px;
}
.links .link-item .link-space {
  width: 50px;
  height: 50px;
}

.background {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

.snowExample{
  position: absolute;
  top: -450px;
  opacity: .5;
  text-align: center;
  animation: SnowExampleSlide ease-in infinite;
  -webkit-animation: SnowExampleSlide ease-in infinite;
  -moz-animation: SnowExampleSlide ease-in infinite;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 5s;
}

@keyframes SnowExampleSlide {
  from {position: absolute; top: -250px;}
  to {position: absolute; top: 100%;}
}

@-webkit-keyframes SnowExampleSlide {
  from {position: absolute; top: -250px;}
  to {position: absolute; top: 100%;}
}

@-moz-keyframes SnowExampleSlide {
  from {position: absolute; top: -250px;}
  to {position: absolute; top: 100%;}
}
