<!--The content below is only a placeholder and can be replaced.-->
<div class="background">
</div>
<div class="main-content">
  <div class="company">
    <h1 [hidden]="true">
      Welcome to {{ title }}!
    </h1>
    <img class="top-logo" alt="Dolce Logo" src="/assets/logo-dolce-adesivo-cupcake.png">
    <h2>Dolce Confeitaria</h2>
  </div>
  <div class="links">
    <div class="link-item" (click)="open('https://instagram.com/dolce_confeitaria')">
      <div class="link-logo"><img src="/assets/instagram.svg"></div>
      <div class="link-text">Instagram</div>
      <div class="link-space"></div>
    </div>
    <div class="link-item" (click)="open('https://www.tiktok.com/@mayaragaspar')">
      <div class="link-logo"><img src="/assets/music.svg"></div>
      <div class="link-text">TikTok</div>
      <div class="link-space"></div>
    </div>
  </div>

  <ul [hidden]="true">
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
  </ul>
</div>

